* {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
}

.divOneHeaders {
  color: #d8492e;
  font-size: 6em;
}

.divTwoHeaders {
  color: #f07910;
}

@media (max-width: 520px) {
  #header > h1{
    font-size: 4.2em;
  }
}

@media (max-width: 550px) {
  #location-input-field {
    width: 100px;
  }
}

#container {
  text-align: center;
}

#one {
  background-color: #f05133;
  position: relative;
}

#two {
  background-color: orange;
  position: relative;
  display: none;
}

#header {
  position: absolute;
  top: 33%;
  width: 100%;
  margin: 0 auto;
}

#error-message {
  color: #f4f2ca;
  font-size: 0.7em;
  font-weight: 100;
}

.page-section {
  height: 100vh;
}


/* style input field text */
::-webkit-input-placeholder {
   color: #f4f2ca;
   opacity: .8;
}

.input {
  width: 120px;
	display: inline-block;
	color: #f4f2ca;
  background-color: #d8492e;
	text-align: center;
	padding: .9em 1.8em;
	border: none;
	cursor: pointer;
	outline: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition: all .1s linear;
	-moz-transition: all .1s linear;
	transition: all .1s linear;
}

#submit-location-button {
  width: 35px;
	height: 35px;
	border: none;
	text-indent: -9999px;
  opacity: .25;
	background: url(http://helixpowered.com/assets/img/arrow-circle-on-right.svg) no-repeat;
	background-size: 25px;
	background-position: 0 1px;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
	cursor: pointer; /* for demo only */
	display: none;
}

.reviews-list {
  list-style: none;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  -ms-column-count: 2;
  -o-column-count: 2;
  column-count: 2;
}

input[type=text] {
  margin-top: 2em;
}
